
html, body{
    height: 100%;
    margin: 0;
    background-color: #ffe767;

}

header{
    color: blue;
}

main{
    min-height: 100vh;
    color: greenyellow;
    
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    color: blue;
}

.button{
    color: black;
    text-decoration: none;
}

#active-button{
    color: blue;
}

.start{
    background-image: url('assets/woods.jpg');
}

.about{
    background-image: url('assets/woods2.jpg');
}
.experience{
    background-image: url('assets/woods3.jpg');
}