.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

.project-grid {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: visible;
}

.project-class {
  background-color: aqua;
  height: 600px;
  width: 800px;
  border: 5px solid black;
  margin: 5px;
}

.project-class img {
  justify-content: center;
  height: 55%;
  width: 90%;
  border-radius: 2px solid black;
}
