.project-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: beige;
}

.project-class {
  background-color: aqua;
  height: 600px;
  width: 800px;
  border: 5px solid black;
  margin: 5px;
}
