.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

.project-grid {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: visible;
}

.project-class {
  background-color: whitesmoke;
  height: 600px;
  width: 800px;
  border: 5px solid black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.project-class img {
  height: 55%;
  width: 90%;
  border-radius: 2px solid black;
  object-fit: cover;
}

.project-class .location,
.project-class .description,
.project-class .learn {
  align-self: flex-start;
  margin-left: 40px;
  color: black;
  text-align: left;
}

.learn {
  font-weight: bold;
}
