html,
body {
  height: 100%;
  margin: 0;
  background-image: url("../assets/woods.jpg");
  background-repeat: no-repeat;
}

main {
  min-height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  height: 120px;
  width: 100%;
  color: red;
  background-color: grey;
  border: 1px solid black;
}

footer {
  color: teal;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: grey;
  border: 1px solid black;
}

.menu {
  background-color: red;
}

.menu-items {
  display: flex;
  justify-content: center;
  list-style: none; /*This removes the floating dot before the list items*/
}

.button {
  display: flex;
  background-color: #ffe767;
  color: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 1.5rem;
  transition: 0.4s;
  width: 120px;
  height: 30px;
  padding: 5px;
  border: 2px solid darkgoldenrod;
  margin: 10px;
}

.button:hover {
  background-color: teal;
}

#active-button {
  color: darkgoldenrod;
  text-decoration: underline;
}

.book {
  display: flex;
  width: 100vh;
  height: 85vh;
  overflow: hidden;
  background-color: red;
}

.page {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 50vh;
  height: 100vh;
  cursor: pointer;
  background-color: beige;
  transition: transform 0.6s ease;
}

.left-page {
  background-color: beige;
}

.right-page {
  background-color: bisque;
}

.corner-img {
  position: fixed;
  top: 70px;
  right: 30px;
  width: 200px;
  height: auto;
  z-index: 10;
}

:root {
  background-image: url("../assets/woods.jpg");
}
.start {
  background-image: url("../assets/woods.jpg");
}

.about {
  background-image: url("../assets/woods2.jpg");
}

.experience {
  background-image: url("../assets/woods3.jpg");
}
